# Database
MONGODB_URI=mongodb+srv://admin_db_user:QpAHY8MwWdvHfx0u@glowup-channel.vhcmgft.mongodb.net/?retryWrites=true&w=majority&appName=glowup-channel

# JWT
JWT_SECRET=E4Gb,6gds2h@7mjDEn3D8Q
JWT_EXPIRES_IN=7d

# Email
RESEND_API_KEY=your-resend-api-key

# File Storage
CLOUDINARY_CLOUD_NAME=your-cloudinary-name
CLOUDINARY_API_KEY=your-cloudinary-key
CLOUDINARY_API_SECRET=your-cloudinary-secret

# App
NODE_ENV=development
PORT=5000
FRONTEND_URL=http://localhost:3000

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
